        <footer class="fixed bottom-0 bg-off-white w-full h-fit py-4 lg:py-8">
            <div class="flex space-x-6 justify-start px-4">
                <a class="font-comfortaa" href="/profile"><%= user.userName %></a>
                <span class="font-comfortaa hidden lg:inline"><%= user.email %></span> <!-- link to profile -->
                <a class="text-xl" href="/feed">Feed</a>

                <a href="/logout" class="absolute bottom-2 right-4 md:right-16 border-2 rounded-lg px-6 py-2 mt-4 text-white bg-gradient-to-r from-pink-500 to-orange-500 hover:bg-gradient-to-r hover:from-orange-500 hover:to-pink-500">Logout</a>
            </div>
        </footer>
    </body>
</html>