        <footer class="bg-off-white w-full h-fit py-4 lg:py-8 mt-6">
            <div class="flex font-comfortaa justify-center">
                <img src="/imgs/render-icon.png" alt="rendervous icon" class="w-8 lg:w-10 pr-2">
                <p class="text-base md:text-xl">
                    <script>document.write(new Date().getFullYear());</script>
                     rendervous. All Rights Reserved.
                </p>
            </div>   
        </footer>
    </body>
</html>