<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Kanit:wght@100;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/tailwind.css" />
        
        <title>rendervous</title>
    </head>
    <% for(var i=0; i<posts.length; i++) {%>

    <body class="w-full h-screen" style="background-image: url('<%= posts[Math.floor(Math.random() * posts.length)].image%>');">
        <% } %>

        <main class="">
            <div class="space-x-2 flex justify-center items-center h-screen">
                <img src="/imgs/render-icon.png" alt="rendervous icon" class="w-8">
                <h1 class="text-4xl font-comfortaa">rendervous</h1>
            </div>
            

            <div class="fixed bottom-0 w-full flex justify-center space-x-6 p-6 bg-off-white">
                <a href="/login" class="rounded-lg border-2 px-12 py-2"> Login</a>
                <a href="/signup" class="rounded-lg border-2 px-12 py-2 bg-gradient-to-r from-pink-500 to-orange-500 text-white">Signup</a>
            </div>
        </main>
    </body>
</html>




