<%- include('partials/header') -%>

<main class="sign-up login md:hover:scale-110 duration-700 h-full py-12 px-12 w-auto mt-16 lg:mx-auto lg:w-2/3 xl:text-2xl">
  <section class="flex justify-center">
    <div class="px-8 text-left text-white mt-4 lg:mt-10">
      <h3 class="text-2xl font-comfortaa text-center pb-6 xl:text-3xl">Login</h3>
        <div class="text-lg">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="block"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> 
          <% messages.info.forEach( el => { %>
          <div class="block"><%= el.msg %></div>
          <% }) %> <% } %>
        </div>

      <form action="/login" method="POST">
        <div>
          <div>
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
            class="w-full text-slate-800 px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-1 focus:ring-red-700"/>
          </div>
          <div class="mt-2">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" id="exampleInputPassword1" name="password"
            class="w-full text-slate-800 px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-1 focus:ring-red-700"/>
          </div>
          <div class="flex items-baseline space-x-6 mt-4 xl:pb-10">
            <button type="submit" class="border-2 rounded-lg px-6 py-2 mt-4 text-white hover:bg-gradient-to-r from-orange-500 hover:scale-125 duration-700">Submit</button>
            <button type="button" class="rounded-lg border-2 px-6 py-2" id="guestAccount">Guest</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <script type="application/javascript" src="/main.js"></script>
</main>
