<%- include('partials/header') -%>
    <main class="sign-up h-full text-white py-12 px-12 w-auto lg:mt-16 lg:w-5/6 lg:mx-auto xl:w-2/3 xl:text-2xl lg:hover:scale-110 duration-700">
        <section class="flex justify-center mt-5">
            <div class="px-8 text-left">
                <h3 class="text-2xl font-comfortaa text-center pb-6 xl:text-3xl">Sign up</h3>
                <div class="text-white text-lg">
                    <% if (locals.messages.errors) { %>
                        <% messages.errors.forEach( el => { %>
                            <div class="block"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                    <% if (locals.messages.info) { %>
                        <% messages.info.forEach( el => { %>
                            <div class="block"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                </div>
                <form action="/signup" method="POST">
                    <div>
                        <div>
                            <label for="userName" class="block">User Name<label>
                            <input type="text" id="userName" name="userName" placeholder="User Name"
                            class="w-full text-slate-800 px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-1 focus:ring-red-700">
                        </div>
                        <div class="mt-2">
                            <label class="block">Email<label>
                            <input type="email" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email"
                             class="w-full text-slate-800 px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-1 focus:ring-red-700">
                            <div id="emailHelp">We'll never share your email with anyone else.</div>
        
                        </div>
                        <div class="mt-4">
                            <label for="password" class="block">Password<label>
                            <input type="password" name="password" id="password" placeholder="Password"
                            class="w-full text-slate-800 px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-1 focus:ring-red-700">
                        </div>
                        <div class="mt-2 pb-2">
                            <label for="confirmPassword" class="block">Confirm Password<label>
                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password"
                             class="w-full text-slate-800 px-4 py-2 mt-1 border rounded-lg focus:outline-none focus:ring-1 focus:ring-red-700">
                        </div>
                        <div class="flex items-baseline mt-4 pb-8 xl:pb-24">
                            <button type="submit" class="border-2 rounded-lg px-6 py-2 mt-4 text-white hover:bg-gradient-to-r from-orange-500 hover:scale-125 duration-700">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>