@tailwind base;
@tailwind components;
@tailwind utilities;

.sign-up {
    background: rgb(235,73,152);
    background: linear-gradient(33deg, rgba(235,73,152,1) 0%, rgba(235,73,152,1) 32%, rgba(249,115,23,1) 100%);
    border-radius: 69% 31% 77% 23% / 30% 15% 85% 70%;
    padding: 4rem;
}